@model BoxFolderDocIndexData


<h3> Folders or DocumentBatches in the selected box : @TempData["BoxDescription"]</h3>
<a asp-controller="Folder" asp-action="Create" asp-route-boxid=@TempData["BoxID"]>Create New Folder or DocumentBatch</a>
<br />

<table class="table">
    <tr>

        <th>CIFNo</th>
        <th>Customer Name</th>
        <th>Customer IDN</th>
        <th>OldCIFNo</th>
        <th>Card Type</th>
        <th>IsCardActive</th>
        <th>Account No</th>

        <th>Managed By</th>

        <th></th>
    </tr>

    @foreach (var fld in Model.Folders)
    {

<tr>

    <td>@fld.CustData.CustomerNo</td>
    <td>@fld.CustData.CustomerName</td>
    <td>@fld.CustData.CustomerIDN</td>
    <td>@fld.CustData.OldCIFNo</td>
    <td>@fld.CustData.CardType</td>
    <td>@fld.CustData.CardActive</td>
    <td>@fld.CustData.CIFNo.ToString().Split('-')[2]</td>



    <td>
          @{ if (fld.CustData.PrjHelixes1 != null)

                  foreach (var hlx in fld.CustData.PrjHelixes1)
                  {
                      @hlx.Helix1Pool
                      <br />
                  }
              else if (fld.CustData.PrjVelocities1 != null)

                  foreach (var vel1 in fld.CustData.PrjVelocities1)
                  {
                      @vel1.CustDataCIFNo.Any()
                      <br />
                  }
              else if (fld.CustData.PrjVelocities2 != null)

                  foreach (var vel2 in fld.CustData.PrjVelocities2)
                  {
                      @vel2.CustDataCIFNo.Any()
                      <br />
                  };
          }
        </td>

    <td>
        <a asp-controller="Folder" asp-action="Edit" asp-route-id="@fld.ID">Edit Folder</a> |
        <a asp-controller="Folder" asp-action="Delete" asp-route-ID="@fld.ID">Delete Folder</a>
    </td>
</tr>
    }
</table>