@model skcyDMSCataloguing.Models.Folder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Folder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolderDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Box)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustData.CIFNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
