@model IEnumerable<skcyDMSCataloguing.ViewModels.AssignedAccountData>




<h1>Get Related Cif's For The Account:  @ViewData["AccountNo"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CIFNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIFCustomerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CIFNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIFCustomerName)
            </td>
            <td>
                <a asp-action="Create" asp-route-boxid="@ViewData["BoxID"] ">Select</a>
            </td>
        </tr>
}
        </tbody>
</table>
