@model BoxFolderDocIndexData

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "Register for Containers (Boxes) ";
}

<h1>Index of Boxes</h1>

<p>
    @if ((await authorizationService.AuthorizeAsync(User, "CreateBusEntityPolicy")).Succeeded)
    {
        <a asp-action="Create">Create New Box</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th> BoxDescription </th>
            <th> DateBoxCreated </th>
            <th> BoxCreatedBy   </th>
            <th> Box Creator Name </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Boxes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBoxCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxCreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxCreator.CreatorName)
                </td>
                <td>
                    @if ((await authorizationService.AuthorizeAsync(User, "ViewBusEntityPolicy")).Succeeded) {
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a>} 
                    @if ((await authorizationService.AuthorizeAsync(User, "ModifyBusEntityPolicy")).Succeeded) {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>} 
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Folders != null || Model.CustDatas != null)
{
    <br />
    <br />
    <h3> Folders or Document Batches in the selected box : @ViewData["BoxID"]</h3>

    @if ((await authorizationService.AuthorizeAsync(User, "CreateBusEntityPolicy")).Succeeded)
    {
        <a asp-controller="Folder" asp-action="Create" asp-route-boxid=@ViewData["BoxID"]>Create New Folder or DocumentBatch</a>
        <br />
    }
        <table class="table">
            <tr>
                <th>Barcode</th>
                <th>CIFNo</th>
                <th>CustomerName</th>

                <th>IsHelix1</th>
                <th>IsVelocity1</th>
                <th>IsVelocity2</th>
                <th></th>
            </tr>

            @foreach (var fld in Model.Folders)
            {

                <tr>
                    <td>@fld.FolderName</td>
                    <td>@fld.CustDataCIFNo</td>
                    <td>@fld.CustData.CustomerName</td>

                    <td>
                        @{ if (fld.CustData.PrjHelixes1 != null)

                                foreach (var hlx in fld.CustData.PrjHelixes1)
                                {
                                    @hlx.Helix1Pool
                                    <br />
                                }
                        }
                    </td>
                    <td>
                        @{ if (fld.CustData.PrjVelocities1 != null)

                                foreach (var vel1 in fld.CustData.PrjVelocities1)
                                {
                                    @vel1.CustDataCIFNo.Any()
                                    <br />
                                }
                        }
                    </td>
                    <td>
                        @{ if (fld.CustData.PrjVelocities2 != null)

                                foreach (var vel2 in fld.CustData.PrjVelocities2)
                                {
                                    @vel2.CustDataCIFNo.Any()
                                    <br />
                                }
                        }
                    </td>
                    <td>
                        @if ((await authorizationService.AuthorizeAsync(User, "ModifyBusEntityPolicy")).Succeeded) { 
                        <a asp-controller="Folder" asp-action="Edit" asp-route-id="@fld.ID">Edit Folder</a> 
                        }
                        @if ((await authorizationService.AuthorizeAsync(User, "DeleteBusEntityPolicy")).Succeeded) {
                        <a asp-controller="Folder" asp-action="Delete" asp-route-ID="@fld.ID">Delete Folder</a>
                        }
                    </td>
                </tr>
            }
        </table>
    }





