@model BoxFolderDocIndexData

@{
    ViewData["Title"] = "Register for Containers (Boxes) ";
}

<h1>Index of Boxes</h1>

<p>
    <a asp-action="Create">Create New Box</a> || <a asp-action="Index">Back to Full List</a>
</p>

<div class="container-fluid ">
    <form class="form-inline" asp-action="Index" method="get">
        <div class="form-row">
            <div class="input-group md-form form-sm form-1 pl-0 mx-3 my-3 ">
                <div class="input-group-prepend">
                    <button type="submit" class="input-group-text purple lighten-3" style="width:inherit">
                        <i class="fas fa-search text-white" aria-hidden="true"></i>
                    </button>
                </div>
                <input class="form-control my-0 py-1" type="text" id="BoxSearch" name="searchBox" value="@ViewData["CurrentFilter"]"
                       placeholder="Box Search">
            </div>
            <div class="input-group md-form form-sm form-1 pl-0 mx-3 my-3 ">
                <div class="input-group-prepend">
                    <button type="submit" class="input-group-text purple lighten-3" style="width:inherit">
                        <i class="fas fa-search text-white" aria-hidden="true"></i>
                    </button>
                </div>
                <input class="form-control my-0 py-1" type="text" id="CreatedBy" name="searchCreator" value="@ViewData["CurrentFilter"]"
                       placeholder="Creator Search">
            </div>
        </div>

        <div class="form-row">
            <div class="input-group md-form form-sm form-1 pl-0 mx-3 my-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="DateFrom">From</span>
                </div>
                <div>
                    <input class="form-control my-0 py-1" type="date" id="DateFrom" name="searchDateFrom" value="">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="DateTo">To</span>
                </div>
                <div>
                    <input class="form-control my-0 py-1" type="date" id="DateTo" name="searchDateTo" value="">
                </div>
                <div class="input-group-prepend">
                    <button type="submit" class="input-group-text purple lighten-3" style="width:inherit">
                        <i class="fas fa-search text-white" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">
                    Box Description <i class="fas fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                    Date Box Created <i class="fas fa-sort"></i>
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreatorSortParm"]">
                    Box Created By <i class="fas fa-sort"></i>
                </a>
            </th>
            @*<th> Box Creator Name </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Boxes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBoxCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxCreatedBy)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.BoxCreator.CreatorName)
                    </td>*@
                <td>
                    <a asp-action="Index"
                       asp-route-id="@item.ID"
                       asp-route-pageNumber="@(Model.CurrentPage-1)"
                       asp-route-searchBox="@ViewData["searchBox"]"
                       asp-route-searchCreator="@ViewData["searchCreator"]"
                       asp-route-searchDateFrom="@ViewData["searchDateFrom"]"
                       asp-route-searchDateTo="@ViewData["searchDateTo"]">
                        Select
                    </a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = (Model.CurrentPage - 1) == 0 ? "disabled" : "";
    var nextDisabled = (Model.CurrentPage + 1) > (Model.TotalPages) ? "disabled" : "";
}

<a class="btn btn-group-lg btn-outline-success @prevDisabled "
   asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage-1)"
   asp-route-searchBox="@ViewData["searchBox"]"
   asp-route-searchCreator="@ViewData["searchCreator"]"
   asp-route-searchDateFrom="@ViewData["searchDateFrom"]"
   asp-route-searchDateTo="@ViewData["searchDateTo"]">
    Previous
</a>
<a class="btn btn-group-lg btn-outline-success @nextDisabled"
   asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage+1)"
   asp-route-searchBox="@ViewData["searchBox"]"
   asp-route-searchCreator="@ViewData["searchCreator"]"
   asp-route-searchDateFrom="@ViewData["searchDateFrom"]"
   asp-route-searchDateTo="@ViewData["searchDateTo"]">
    Next
</a>
<span>Page @Model.CurrentPage of  @Model.TotalPages </span>


<br />
<br />
<h3> Folders or DocumentBatches in the selected box : @ViewData["BoxDescription"]</h3>
<a asp-controller="Folder" asp-action="Create" asp-route-boxid=@ViewData["BoxID"]>Create New Folder or DocumentBatch</a>
<br />


@if (Model.Folders != null || Model.CustDatas != null)
{    
      <partial name="_FolderInBox" />    
}




